<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Blogs | <%= title %></title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Rubik+Scribble&display=swap");

    body {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
      font-family: "Roboto Slab", serif;
      background-color: #222;
      color: #fff;
    }
    .web-title {
      font-family: "Rubik Scribble", system-ui;
      filter: drop-shadow(0 0 40px white);
    }
    .nav-container {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid rgba(128, 128, 128, 0.075);
    }
    .ul {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style-type: none;
      font-family: sans-serif;
    }
    .ul li {
      margin: 0 10px;
      transition: all 0.3s;
    }
    .ul li:hover {
      transform: translateY(-1px);
      font-size: 20px;
    }
    .ul li a {
      color: #fff;
      text-decoration: none;
    }
  </style>
</head>
