<div class="nav-container">
  <h1 class="web-title Rubik">webshow Blogs</h1>
  <ul class="ul">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About us</a></li>
    <li><a href="/blogs">Blogs</a></li>
    <li><a href="/blogs/create-blog">Create Blog</a></li>
  </ul>
</div>
