<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
  </body>
  <h1 class="about-title">about us</h1>
  <p class="about-desc">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo aperiam culpa, animi aliquam sapiente consequuntur hic voluptatum reiciendis quam labore sit distinctio, ipsum nulla optio deserunt assumenda fugit? Nesciunt, ad!
  Fugit, quod libero. Ipsum, excepturi? Accusantium, magni minima. Illo ea reprehenderit culpa dolores nisi, obcaecati omnis assumenda quaerat hic deleniti mollitia qui eos, quibusdam accusantium sed magnam animi aliquam? Voluptatibus!
  Nam laboriosam repudiandae consequatur iure aliquid vel fugit sequi dolorum, consequuntur iusto dolor, saepe cumque dolore natus dignissimos quam ad? Doloremque numquam omnis ipsum ratione similique veniam neque ex quasi.</p>
  <%- include('../partials/footer.ejs') %>
</html>
