<html lang="en">
  <%- include('../partials/head.ejs') %>
  <body>
    <%- include('../partials/nav.ejs') %>
    <%- include('../partials/footer.ejs') %>

    <div class="inputs-container">
      <label for="title Blog">title Blog</label>
      <input type="text" name="title Blog" >
    </div>
    <div class="inputs-container">
      <label for="desc Blog">desc Blog</label>
      <input type="text" name="desc Blog" >
    </div>
    <!-- <div class="inputs-container">
      <label for="title Blog">title Blog</label>
      <input type="text" name="title Blog" >
    </div> -->
  </body>
</html>
